<div *ngIf="(option | async) as option; else notFound" class="typography">
  <h2><code>{{option.name}}</code></h2>
  <table>
    <tbody>
      <tr>
        <td>Declarations</td>
        <td>
          <ul *ngIf="option.declarations.length > 1; else singleDeclaration">
            <li *ngFor="let declaration of option.declarations">
              <a target="_blank" [href]="declaration">{{declaration}}</a>
            </li>
          </ul>
          <ng-template #singleDeclaration>
            <a target="_blank" [href]="option.declarations[0]">{{option.declarations[0]}}</a>
          </ng-template>
        </td>
      </tr>
      <tr>
        <td>Description</td>
        <td [innerHTML]="option.description"></td>
      </tr>
      <tr>
        <td>Type</td>
        <td>{{option.type}}</td>
      </tr>
      <tr *ngIf="option.default">
        <td>Default</td>
        <td><code [innerHTML]="option.default"></code></td>
      </tr>
      <tr *ngIf="option.example">
        <td>Example</td>
        <td><code [innerHTML]="option.example"></code></td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #notFound>
  <p>Try searching for something!</p>
</ng-template>
