@if ((option | async); as option) {
  <div class="typography">
    <h2><code>{{option.name}}</code></h2>
    <table>
      <tbody>
        @if (scopes.length > 1) {
          <tr>
            <th scope="row">Scope</th>
            <td><a [routerLink]="[]" [queryParams]="{scope: getScope(option.scopeId)!.name}" queryParamsHandling="merge">{{getScope(option.scopeId)!.name}}</a></td>
          </tr>
        }
        <tr>
          <th scope="row">Declarations</th>
          <td>
            @if ((option.declarations ?? []).length > 1) {
              <ul>
                @for (declaration of option.declarations; track declaration) {
                  <li>
                    <a target="_blank" [href]="declaration">{{declaration}}</a>
                  </li>
                }
              </ul>
            } @else {
              <a target="_blank" [href]="(option.declarations ?? [])[0]">{{(option.declarations ?? [])[0]}}</a>
            }
          </td>
        </tr>
        <tr>
          <th scope="row">Type</th>
          <td><code>{{option.type}}</code></td>
        </tr>
        @if (option.read_only) {
          <tr>
            <th scope="row">Readonly</th>
            <td><code>{{option.read_only}}</code></td>
          </tr>
        }
        @if (option.default) {
          <tr>
            <th scope="row">Default</th>
            <td>
              @if (scopes[option.scopeId].packagesEnabled && (option.type == "package" || option.type == "null or package")) {
                @defer {
                  <a
                    routerLink="/packages"
                    [queryParams]="{name: getPackageName(option.default)}"
                    queryParamsHandling="merge"
                  >
                    <pre><code [innerHTML]="option.default"></code></pre>
                  </a>
                }
              } @else {
                <pre><code [innerHTML]="option.default"></code></pre>
              }
            </td>
          </tr>
        }
        @if (option.example) {
          <tr>
            <th scope="row">Example</th>
            <td>
              <pre><code [innerHTML]="option.example"></code></pre>
            </td>
          </tr>
        }
        <tr>
          <th scope="row">Description</th>
          <td [innerHTML]="option.description"></td>
        </tr>
      </tbody>
    </table>
  </div>
} @else {
  @if (loading | async) {
    <div class="loading-wrapper">
      <app-loading-indicator/>
    </div>
  } @else {
    <p>Try searching for something!</p>
  }
}
