<feel-text-field [formControl]="search" label="Search"></feel-text-field>

<div class="scroll" *ngIf="(results | async) as options">
  <ul>
    <li *ngFor="let option of options; trackBy trackBy">
      <a [routerLink]="[]" [title]="option.name" [queryParams]="{option: option.name}" queryParamsHandling="merge"
        [class.active]="isActive(option) | async">
        <code>{{option.name}}</code>
      </a>
    </li>
  </ul>
  <p *ngIf="options.length == 500">Only showing the first 500 results. Make your search term more concise.</p>
</div>
