<form [formGroup]="search">
  <feel-text-field formControlName="query" label="Search" [autofocus]="true" />
  @if ((scopes | async); as scopes) {
    @if (scopes.length > 1) {
      <feel-dropdown formControlName="scope" label="Scope">
        <option value="-1">All</option>
        @for (scope of scopes; track scope; let idx = $index) {
          <option [value]="idx.toString()">
            {{scope}}
          </option>
        }
      </feel-dropdown>
    }
  }
</form>

@if ((results | async); as options) {
  <div class="scroll">
    <ul>
      @for (option of options; track option) {
        <li>
          <a [routerLink]="[]" [title]="option.name" [queryParams]="{option_scope: option.scope_id, option: option.name}" queryParamsHandling="merge"
            [class.active]="isActive(option) | async">
            <code>{{option.displayName}}</code>
          </a>
        </li>
      }
    </ul>
    @if (options.length == maxSearchResults) {
      <p>Only showing the first {{maxSearchResults}} results. Make your search
      term more concise.</p>
    }
  </div>
}
