@import "vars";

:host {
  display: grid;
  grid-template-rows: min-content 1fr;
  gap: 1rem;
  width: 100%;

  .scroll {
    overflow-y: scroll;

    ul {
      display: flex;
      flex-direction: column;

      li {
        list-style-type: none;

        a {
          display: block;
          text-decoration: none;
          padding: 0.4rem 0.8rem;
          color: $f-color;
          transition: 40ms ease-out background-color, 40ms ease-out border-color;
          border-radius: 0.4rem;
          border: 0.1rem solid transparent;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;

          &:hover {
            background-color: $c-page;
          }

          &.active {
            border-color: $c-primary;
          }
        }
      }
    }
  }
}
