<form [formGroup]="search">
  <feel-text-field formControlName="query" label="Search" />
  <ng-container *ngIf="(scopes | async) as scopes">
    <feel-dropdown formControlName="scope" label="Scope" *ngIf="scopes.length > 1">
      <option value="-1">All</option>
      <option *ngFor="let scope of scopes; index as idx" [value]="idx.toString()">
        {{scope}}
      </option>
    </feel-dropdown>
  </ng-container>
</form>

<div class="scroll" *ngIf="(results | async) as options">
  <ul>
    <li *ngFor="let option of options; trackBy trackBy">
      <a [routerLink]="[]" [title]="option.name" [queryParams]="{option_scope: option.scope_id, option: option.name}" queryParamsHandling="merge"
        [class.active]="isActive(option) | async">
        <code>{{option.displayName}}</code>
      </a>
    </li>
  </ul>
  <p *ngIf="options.length == maxSearchResults">Only showing the first {{maxSearchResults}} results. Make your search
    term more concise.</p>
</div>
