@import "vars";

:host {
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  padding: 1rem;

  header,
  footer {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .card {
    padding: 1rem;
    border: .1rem solid $c-card-secondary;
    background-color: $c-card;
    border-radius: .5rem;
  }

  aside {}

  main {}

  footer {
    display: flex;
    justify-content: flex-end;

    >*:not(:last-child)::after {
      content: "|";
      margin: 0 0.5rem;
      color: $c-gray;
    }
  }
}
