@import "vars";

:host {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "main" "footer";
  height: 100dvh;
  width: 100%;
  gap: 1rem;

  header {
    grid-area: header;

    padding: 1rem;
    border-bottom: .1rem solid $c-card-secondary;
    background-color: $c-card;

    display: flex;
    align-items: center;

    justify-content: space-between;

    h1 {
      font-size: 1.3rem;
    }

    nav {
      display: flex;
      gap: 0.5rem;
    }

    a {
      text-decoration: none;
      color: $f-color;
      background-color: $c-page;
      transition: background-color 150ms ease-in-out, color 150ms ease-in-out;
      border-radius: calc(0.4 * $s-unit);
      padding: calc(0.5 * $s-unit) calc(0.8 * $s-unit);

      &:hover {
        color: $c-secondary-d;
        background-color: $c-primary-d;
      }

      &.active {
        color: $c-secondary;
        background-color: $c-primary;
      }
    }
  }

  #main,
  footer {
    padding: 1rem;
  }

  #main {
    grid-area: main;
    overflow: hidden;
  }

  footer {
    display: flex;
    justify-content: flex-end;
    grid-area: footer;

    >*:not(:last-child)::after {
      content: "|";
      margin: 0 0.5rem;
      color: $c-gray;
    }
  }
}
