:host {
  // needed, that the loading wrapper takes the full width
  width: 100%;
}

h2 code {
  font-size: unset;
  word-break: break-all;
}

td {
  padding: 0.4rem;

  &:first-of-type {
    text-align: right;
    font-weight: bold;
  }
}

.loading-wrapper {
  width: 100%;
  height: 20vh;
  display: grid;
  place-items: center;
}
